ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 200px;
    height: 100%;
    background: rgba(158, 82, 190);
    overflow: auto;
    position: fixed;
  }
  
  li i {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
    background-color: transparent;
  }

  
  li i:hover {
    background: none;
    color: rgb(233, 231, 58);
  }

  .a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
    background-color: transparent;
    border-style: none;
    border-color: transparent;
  }

  .a:hover {
    background: none;
    color: rgb(233, 231, 58);
  }

  .b {
    color: white;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    text-align: center;
    width: 30px;
  }
  
  .b:hover {
    background: none;
    color: rgb(233, 231, 58);
  }

  li #home {
    background : none;
  }
  
  .cd1 {
    margin-left: 220px;
  }

  button {
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    color: white;
  }

  .dropdown-menu {
    height: auto;
    background-color: transparent;
  }

  .cd2 {
    margin-left: 220px;
    padding: 0px;
    width: 950px;
    height: 1200px;
    background: white;
    overflow: auto;
  }

  .newmem {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    width: 900px;

    margin-left: 30px;
    margin-top: 30px;
    z-index: 1;
  }

  .num {
    color:  rgb(233, 231, 58);
  }

  .persent {
    color: red;
  }
 

  .highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}