.info {
	cursor:pointer;
}
.userimg {
	margin-right: 20px;
}
.a {
	width: 400px;
	height: 30px;
}
.d{
	height: 100px;
}
.header {
	height: 80px;
}
.container {
	margin-top: 130px;
	float: right;
	flex-flow: row nowrap;
}
.content {
	margin-top: 20px;
}
.sidebar {
	margin-top: 78px;
	float: left;
	width: 15%;
	height: auto;
	top: 0;
	background: yellowgreen;
}
.d{
    height: 80px;
}
.header {
    height: 80px;
}
.content {
    margin-top: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

	*{
		list-style: none;
		text-decoration: none;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Open Sans', sans-serif;
	}

	.wrapper .sidebar{
		top: 0;
		left: 0;
		width: 225px;
		height: 100vh;
		padding: 20px 0;
		transition: all 0.5s ease;
	}
	.wrapper .sidebar ul li a{
	text-decoration-line: none;
    display: block;
    padding: 13px 30px;
    color: black;
    font-size: 16px;
    position: relative;
	}

	.wrapper .sidebar ul li a .icon{
		color: #dee4ec;
		width: 30px;
		display: inline-block;
	}

	.fa-solid {
		color: black;
	}