optgroup.hr {
    background-color: black;
    height: 1px;
    border: 0;
}

.a {
    float: inline-start;
    display: inline-block;
    background-color: rgb(224, 224, 224);
    height: 70px;;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius:5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(193, 232, 100);
    box-shadow: 3px 5px 6px rgb(142, 150, 150);
    /* justify-content: center; */
}

.b{
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    height: 265px;
    width: 300px;
    margin-left: 30px;
}

.c{
    height: 250px;
    width: 900px;
    padding-left: 20px;
    text-align: center;
    padding-top: 10px;
}

.d{
    height: 50px;
    border-radius:8px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-right: 30px;
}

.topBtn {
    float: right;
    margin-right: 50px;
    justify-content: end;
    display:  block;
}

#date {
    text-align: center;
    margin-top: 5px;
}

#sharingBtn {
    margin-right: 100px;
    margin-bottom: 20px;
    border-radius:8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 231, 58);
    background-color: rgba(233, 231, 58, 0.75);
}

#info {
    padding-left: 30px;
}