.bgc {
    background-color: rgba(224, 224, 224, 0.29);
    margin: 50px;
    height: 800px;
    border-radius: 30px;
}

#Logo{
    width: 220px;
    height: 80px;    
    float: right;
    margin-right: 55px;
    margin-top: 10px;
}

.img {
    width: 150px;
    height: 150px;
    margin: 30px 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: gray;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
    margin: 25px 0px;
}

.info{
    margin-top: 50px;
}
.info .nick{
    margin-top: -10px
}