#content {
    height: 200px;
    margin-top: 10px;
    margin-left: 150px;
}

#content1 {
    height: 130px;
    margin-top: 20px;
    margin-left: 150px;
}

#content2 {
    height: 130px;
    margin-top: 10px;
    margin-left: 150px;
}

#side {
    padding: 20px 30px;
    background-color:  rgba(224, 224, 224);
}

#logoimg {
    width: 230px;
    height: 80px;
    margin: 30px 20px;
}

.nav-link {
  margin-left: 10px;
}

ul {
    border-style: solid;
    border: 1px;
}

dl, ol, ul {
    margin: 5px 150px;
    margin-bottom: 1rem;
}

ol, ul {
    padding-left: 2rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#textBox {
    width: 300px;
    text-align: center;
    align-content: center;
}s

#btn {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

#preview {
    width: 100px;
    height: 100px;

}